numpy>=1.21.4
scipy>=1.7.3
matplotlib>=3.7.5
opencv-python==4.9.0.80
scikit-image>=0.21.0
torch>=1.7
torchvision>=0.8
git+https://github.com/facebookresearch/segment-anything.git
pycocotools
onnxruntime
onnx
scikit-learn
tqdm